<html ng-app="vrss">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">
    <body >
        <div ng-controller="vrssCtrl">
            <p class="title">VRSS</p>
                <button ng-click="add()" class="btn btn-success">订阅此Feed至VRSS</button>
                <button ng-click="option()" class="btn btn-default">我的VRSS</button>
            <p ng-bind="response" id="response"></p>
        </div>
        <script src="js/angular.min.js"></script>
        <script src="scripts/popup.js"></script>

    </body>
</html>
