<html ng-app="vrss">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/popup.css" rel="stylesheet">
    <body >
        <div ng-controller="vrssCtrl">
            <p class="title">VRSS</p>
                <button ng-disabled="FeedHas" ng-click="add()" class="btn btn-success" ng-bind="buttonNews"></button>
                <div class="loading"><img ng-show="loading" src="./images/searchLoading.gif"></div>
                <button ng-click="option()" class="btn btn-default">My VRSS</button>
        </div>
        <script src="js/angular.min.js"></script>
        <script src="scripts/popup.js"></script>

    </body>
</html>
